# Ignore .idea directory
.idea/
# Ignore node_modules directory
node_modules/
# Ignore any files ending with .ipynb_checkpoints/
*.ipynb_checkpoints/
# Ignore test.json file
test.json
req.py 
one.ipynb 
.gitignore

